# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/

# Env
.env
.envrc

# Lab runtime
lab/*
!lab/.gitkeep
clab-*/
*.clab.yml.bak

# IDE
.idea/
.vscode/
*.swp
.DS_Store
