{% import '_macros.j2' as m %}
{% set device = data.DcimDevice.edges[0].node %}
{% set isis = data.MplsIsisProcess.edges[0].node %}
{% set ldp = data.MplsLdpProcess.edges[0].node %}
{% set bgp = data.MplsBgpProcess.edges[0].node %}
{% set sites = data.ServiceL3VpnSite.edges
    | selectattr('node.pe_interface.node')
    | selectattr('node.pe_address.node')
    | selectattr('node.l3vpn.node.vrf.node')
    | list %}
{#- Derive ISIS system-id from NET ID: parts [2].[3].[4] for xx.aaaa.bbbb.cccc.dddd.00 #}
{% set net_parts = isis.net_id.value.split('.') %}
{% set system_id = net_parts[2] ~ '.' ~ net_parts[3] ~ '.' ~ net_parts[4] %}
# Nokia SR OS configuration for {{ device.name.value }}
configure {
    router "Base" {
        interface "system" {
{% for iface in device.interfaces.edges if iface.node.name.value == 'Loopback0' %}
{% for ip in iface.node.ip_addresses.edges %}
            ipv4 {
                primary {
                    address {{ m.ip_only(ip.node.address.value) }};
                    prefix-length 32;
                }
            }
{% endfor %}
{% endfor %}
        }
{% for iface in device.interfaces.edges if iface.node.role.value == 'core' %}
        interface "{{ iface.node.name.value }}" {
            port {{ iface.node.name.value }};
{% for ip in iface.node.ip_addresses.edges %}
            ipv4 {
                primary {
                    address {{ m.ip_only(ip.node.address.value) }};
                    prefix-length 31;
                }
            }
{% endfor %}
        }
{% endfor %}
        isis 1 {
            level-capability level-2;
            system-id {{ system_id }};
            area-address {{ isis.area_id.value }};
{% for iface in device.interfaces.edges if iface.node.role.value == 'core' %}
            interface "{{ iface.node.name.value }}" {
                interface-type point-to-point;
            }
{% endfor %}
            interface "system" {
                passive;
            }
        }
        ldp {
            interface-parameters {
{% for iface in device.interfaces.edges if iface.node.role.value == 'core' %}
                interface "{{ iface.node.name.value }}" {
                }
{% endfor %}
            }
        }
        bgp {
            group "ibgp-mesh" {
                type internal;
                local-as {{ device.asn.node.asn.value }};
{% for iface in device.interfaces.edges if iface.node.name.value == 'Loopback0' %}
{% for ip in iface.node.ip_addresses.edges %}
                local-address {{ m.ip_only(ip.node.address.value) }};
{% endfor %}
{% endfor %}
                family {
                    vpn-ipv4;
                    vpn-ipv6;
                }
{% for session in bgp.sessions.edges if session.node.session_type.value == 'INTERNAL' %}
                neighbor "{{ m.ip_only(session.node.remote_ip.node.address.value) }}" {
                }
{% endfor %}
            }
        }
        mpls {
{% for iface in device.interfaces.edges if iface.node.role.value == 'core' %}
            interface "{{ iface.node.name.value }}" {
            }
{% endfor %}
        }
    }
{% set seen_vpns = [] %}
{% for site_edge in sites %}
{% set site = site_edge.node %}
{% set vpn = site.l3vpn.node %}
{% if vpn.name.value not in seen_vpns %}
{% set _ = seen_vpns.append(vpn.name.value) %}
    service {
        vprn "{{ vpn.name.value }}" {
            service-id {{ vpn.vpn_id.value }};
            customer "1";
            route-distinguisher {{ vpn.vrf.node.vrf_rd.value }};
            vrf-target {
                import-community "target:{{ vpn.vrf.node.import_rt.node.name.value }}";
                export-community "target:{{ vpn.vrf.node.export_rt.node.name.value }}";
            }
{% for s in sites if s.node.l3vpn.node.name.value == vpn.name.value %}
            interface "{{ s.node.pe_interface.node.name.value }}" {
                ipv4 {
                    primary {
                        address {{ m.ip_only(s.node.pe_address.node.address.value) }};
                        prefix-length 30;
                    }
                }
                sap "{{ s.node.pe_interface.node.name.value }}:0" {
                }
            }
{% if s.node.routing_protocol.value == 'ebgp' %}
            bgp {
                group "ce" {
                    peer-as {{ s.node.bgp_peer_asn.value }};
                    neighbor "{{ m.ip_only(s.node.ce_address.node.address.value) }}" {
                    }
                }
            }
{% endif %}
{% endfor %}
        }
    }
{% endif %}
{% endfor %}
}
