{% set device = data.DcimDevice.edges[0].node %}
{% set site = data.ServiceSdwanSite.edges[0].node %}
{% set svc = site.sdwan.node %}
{% set tenant = svc.tenant.node %}
! Cisco IOS-XE SD-WAN config for {{ device.name.value }}
! topology: {{ svc.topology.value }}
!
system
 host-name {{ device.name.value }}
 system-ip 10.10.0.{{ svc.service_id.value % 256 }}
 site-id {{ svc.service_id.value }}
 organization-name "{{ tenant.name.value }}"
!
sdwan
 ! peer sites:
{% for peer_edge in svc.sites.edges %}
 !  - {{ peer_edge.node.name.value }} ({{ peer_edge.node.location.node.shortname.value }}, lan {{ peer_edge.node.lan_subnet.node.prefix.value }})
{% endfor %}
!
vpn 0
 interface ge0/0
  ip address dhcp-client
  tunnel-interface
   encapsulation ipsec
   color biz-internet
!
vpn 1
 interface ge0/1
  ip address {{ site.lan_address.node.address.value }}
  no shutdown
!
end
